<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <h2>Enter details.</h2>
        <form>
            <label for="expdate">Date of expenditure:</label>
            <input type="date" id="birthday" name="birthday">
          </form>
          <form>
           <br> <label for="fname">Description</label>
            <input type="text" id="fname" name="fname"><br>
          </form>
          <form>
            <br><label for="quantity">Amount</label>
            <input type="number" id="quantity" name="quantity">
          </form>
    </body>
</html>