<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        
        <form>
            <input type="radio" id="adcat" name="manager" value="adcat">
            <label for="adcat">Add Category</label><br>
            <input type="radio" id="thresh" name="manager" value="thresh">
            <label for="thresh">Set Threshold</label><br>
          </form> 

            <form action="/action_page.php">
                <input type="submit" value="Submit">
            </form>
            
    </body>
</html>