<!DOCTYPE html>
<html>
  <head>
    <style>
      body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
      h1{background-color: beige;color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    </style>
  </head>

  <body>
    <h1>Daily Expense Tracker</h1>
    <p>Welcome to your daily expense tracker. Select any option given below.</p>

    <nav>
      <ul>
        <li><a routerLink="/expman-component" routerLinkActive="active" target="_self">Add new expense</a></li>
        <li><a routerLink="/newexp-component" routerLinkActive="active" target="_self">Expense manager</a></li>
      </ul>
    </nav>
    
    <router-outlet></router-outlet>
  </body>
</html>